:root {
  --background-color: #262626;
  --font-color: #ffffff;
  --main-font-size: 1rem;
}

body {
    background-color: var(--background-color);
}

.container h1 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 2.25rem;
    color: var(--font-color);
}

.container h2 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 24px;
    font-size: 1.5rem;
    color: var(--font-color);
}

.container h3 {
    font-family: Helvetica;
    font-size: 1rem;
    color: rgb(252, 150, 77);
}

.container h4 {
    font-family: Helvetica;
    font-weight: 700;
    font-size: 0.75rem;
    color: var(--font-color);
}

.container p {
    font-family: Helvetica;
    vertical-align: middle;
    font-size: 1rem;
    color: var(--font-color);
}

.mountain {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.mountain-box {
    width: 100vw;
    height: 400px;
}